<!DOCTYPE html>
<html lang="zh-th">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <title>Django Template - 網頁前端設計</title>

    <link rel="canonical" href="/2021/2/1/DjangoTemplate">

    <link rel="stylesheet" href="/css/timeline.css"/>

    <link rel="stylesheet" href="/css/iDisqus.min.css"/>
	
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    
    <link rel="stylesheet" href="/css/hux-blog.min.css">

    
    <link rel="stylesheet" href="/css/zanshang.css">
    
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    
    

    
    
    <script src="/js/jquery.min.js"></script>
    
    
    <script src="/js/bootstrap.min.js"></script>
    
    
    <script src="/js/hux-blog.min.js"></script>

    
    

</head>



<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">工程師的呢喃</a>
        </div>

        
        
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
		            

                    
                        
                        <li>
                            <a href="/categories/iot">iot</a>
                        </li>
                        
                        <li>
                            <a href="/categories/life">life</a>
                        </li>
                        
                        <li>
                            <a href="/categories/python">python</a>
                        </li>
                        
                    
                </ul>
            </div>
        </div>
        
    </div>
    
</nav>
<script>
    
    
    
    var $body   = document.body;
    var $toggle = document.querySelector('.navbar-toggle');
    var $navbar = document.querySelector('#huxblog_navbar');
    var $collapse = document.querySelector('.navbar-collapse');

    $toggle.addEventListener('click', handleMagic)
    function handleMagic(e){
        if ($navbar.className.indexOf('in') > 0) {
        
            $navbar.className = " ";
            
            setTimeout(function(){
                
                if($navbar.className.indexOf('in') < 0) {
                    $collapse.style.height = "0px"
                }
            },400)
        }else{
        
            $collapse.style.height = "auto"
            $navbar.className += " in";
        }
    }
</script>




<style type="text/css">
    header.intro-header {
        background-image: url('/img/home-bg.jpg')
    }
</style>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        
                        <a class="tag" href="/tags/django" title="Django">
                            Django
                        </a>
                        
                        <a class="tag" href="/tags/python" title="Python">
                            Python
                        </a>
                        
                    </div>
                    <h1>Django Template - 網頁前端設計</h1>
                    <h2 class="subheading">網頁前端設計</h2>
                    <span class="meta">
                        Posted by 
                        
                            劉啟仲
                         
                        on 
                        Monday, February 1, 2021
                        
                        
                        
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>




<article>
    <div class="container">
        <div class="row">

            
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                post-container">

                
                <p>Template所做的事情：動態生成 Html Django Template Language (DTL)</p>
<ul>
<li>動態生成 Html Django Template Language (DTL)
<ul>
<li>Variable</li>
<li>Tags</li>
<li>Filter</li>
</ul>
</li>
<li>回應網頁 (Template Engines)
<ul>
<li>設定Dir （可以設定多個不同路徑）</li>
<li>取得與顯示Template</li>
</ul>
</li>
<li>Static Files分門別類收納起來</li>
</ul>
<hr>
<h2 id="產生資料">產生資料</h2>
<p>修改 polls/view.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.http <span style="color:#00f">import</span> HttpResponse
<span style="color:#00f">from</span> django.template <span style="color:#00f">import</span> loader

<span style="color:#00f">from</span> .models <span style="color:#00f">import</span> Question


<span style="color:#00f">def</span> index(request):
    <span style="color:#008000">## 寫法ㄧ</span>
    <span style="color:#008000"># latest_question_list = Question.objects.order_by(&#39;-pub_date&#39;)[:5]</span>
    <span style="color:#008000"># template = loader.get_template(&#39;polls/index.html&#39;)</span>
    <span style="color:#008000"># context = {</span>
    <span style="color:#008000">#     &#39;latest_question_list&#39;: latest_question_list,</span>
    <span style="color:#008000"># }</span>
    <span style="color:#008000"># return HttpResponse(template.render(context, request))</span>
    
    <span style="color:#008000">## 寫法二</span>
    latest_question_list = Question.objects.order_by(<span style="color:#a31515">&#39;-pub_date&#39;</span>)[:5]
    context = {<span style="color:#a31515">&#39;latest_question_list&#39;</span>: latest_question_list}
    <span style="color:#00f">return</span> render(request, <span style="color:#a31515">&#39;polls/index.html&#39;</span>, context)
  
<span style="color:#00f">def</span> detail(request, question_id):
    <span style="color:#00f">return</span> HttpResponse(<span style="color:#a31515">&#34;You&#39;re looking at question </span><span style="color:#a31515">%s</span><span style="color:#a31515">.&#34;</span> % question_id)

<span style="color:#00f">def</span> results(request, question_id):
    response = <span style="color:#a31515">&#34;You&#39;re looking at the results of question </span><span style="color:#a31515">%s</span><span style="color:#a31515">.&#34;</span>
    <span style="color:#00f">return</span> HttpResponse(response % question_id)

<span style="color:#00f">def</span> vote(request, question_id):
    <span style="color:#00f">return</span> HttpResponse(<span style="color:#a31515">&#34;You&#39;re voting on question </span><span style="color:#a31515">%s</span><span style="color:#a31515">.&#34;</span> % question_id)
</code></pre></div><p>修改 polls/urls.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.urls <span style="color:#00f">import</span> path

<span style="color:#00f">from</span> . <span style="color:#00f">import</span> views

urlpatterns = [
    <span style="color:#008000"># ex: /polls/</span>
    path(<span style="color:#a31515">&#39;&#39;</span>, views.index, name=<span style="color:#a31515">&#39;index&#39;</span>),
    <span style="color:#008000"># ex: /polls/5/</span>
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/&#39;</span>, views.detail, name=<span style="color:#a31515">&#39;detail&#39;</span>),
    <span style="color:#008000"># ex: /polls/5/results/</span>
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/results/&#39;</span>, views.results, name=<span style="color:#a31515">&#39;results&#39;</span>),
    <span style="color:#008000"># ex: /polls/5/vote/</span>
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/vote/&#39;</span>, views.vote, name=<span style="color:#a31515">&#39;vote&#39;</span>),
]
</code></pre></div><p>修改 polls/templates/polls/index.html</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">{% if latest_question_list %}
    &lt;ul&gt;
    {% for question in latest_question_list %}
        &lt;li&gt;&lt;a href=<span style="color:#a31515">&#34;/polls/{{ question.id }}/&#34;</span>&gt;{{ question.question_text }}&lt;/a&gt;&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
{% else %}
    &lt;p&gt;No polls are available.&lt;/p&gt;
{% endif %}

</code></pre></div><hr>
<h2 id="加入404錯誤">加入404錯誤</h2>
<p>修改 polls/view.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">
<span style="color:#00f">from</span> django.shortcuts <span style="color:#00f">import</span> get_object_or_404, render

<span style="color:#00f">from</span> .models <span style="color:#00f">import</span> Question
<span style="color:#008000"># ...</span>
<span style="color:#00f">def</span> detail(request, question_id):
    question = get_object_or_404(Question, pk=question_id)
    <span style="color:#00f">return</span> render(request, <span style="color:#a31515">&#39;polls/detail.html&#39;</span>, {<span style="color:#a31515">&#39;question&#39;</span>: question})
</code></pre></div><p>加入 polls/templates/polls/detail.html</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;h1&gt;{{ question.question_text }}&lt;/h1&gt;
&lt;ul&gt;
{% for choice in question.choice_set.all %}
    &lt;li&gt;{{ choice.choice_text }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre></div><hr>
<h2 id="刪除範本中的硬性編碼網址">刪除範本中的硬性編碼網址</h2>
<p>原本 polls/templates/polls/index.html 中的連結</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;li&gt;&lt;a href=<span style="color:#a31515">&#34;/polls/{{ question.id }}/&#34;</span>&gt;{{ question.question_text }}&lt;/a&gt;&lt;/li&gt;

</code></pre></div><p>修改 polls/templates/polls/index.html 中的連結</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;li&gt;&lt;a href=<span style="color:#a31515">&#34;{% url &#39;detail&#39; question.id %}&#34;</span>&gt;{{ question.question_text }}&lt;/a&gt;&lt;/li&gt;

</code></pre></div><p>此工作連結定義於<strong>polls.urls</strong>中</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">...
<span style="color:#008000"># the &#39;name&#39; value as called by the {% url %} template tag</span>
path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/&#39;</span>, views.detail, name=<span style="color:#a31515">&#39;detail&#39;</span>),
...
</code></pre></div><hr>
<h2 id="namespacing-url-names">Namespacing URL names</h2>
<p>在一個Django專案中，可能會有多個app專案，這時會需要加入namespaces在URLconf中去辨別。</p>
<p>namespace : polls/urls.py.app_name</p>
<p>修改 polls/urls.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.urls <span style="color:#00f">import</span> path

<span style="color:#00f">from</span> . <span style="color:#00f">import</span> views

app_name = <span style="color:#a31515">&#39;polls&#39;</span>
urlpatterns = [
    path(<span style="color:#a31515">&#39;&#39;</span>, views.index, name=<span style="color:#a31515">&#39;index&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/&#39;</span>, views.detail, name=<span style="color:#a31515">&#39;detail&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/results/&#39;</span>, views.results, name=<span style="color:#a31515">&#39;results&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/vote/&#39;</span>, views.vote, name=<span style="color:#a31515">&#39;vote&#39;</span>),
]
</code></pre></div><p>將 polls/templates/polls/index.html 中的連結加上namespace的檢視</p>
<p>原本</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">&lt;li&gt;&lt;a href=<span style="color:#a31515">&#34;{</span><span style="color:#a31515">% u</span><span style="color:#a31515">rl &#39;detail&#39; question.id %}&#34;</span>&gt;{{ question.question_text }}&lt;/a&gt;&lt;/li&gt;
</code></pre></div><p>修改後</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">&lt;li&gt;&lt;a href=<span style="color:#a31515">&#34;{</span><span style="color:#a31515">% u</span><span style="color:#a31515">rl &#39;polls:detail&#39; question.id %}&#34;</span>&gt;{{ question.question_text }}&lt;/a&gt;&lt;/li&gt;
</code></pre></div><p>修改 polls/templates/polls/detail.html</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python">&lt;h1&gt;{{ question.question_text }}&lt;/h1&gt;

{% <span style="color:#00f">if</span> error_message %}&lt;p&gt;&lt;strong&gt;{{ error_message }}&lt;/strong&gt;&lt;/p&gt;{% endif %}

&lt;form action=<span style="color:#a31515">&#34;{</span><span style="color:#a31515">% u</span><span style="color:#a31515">rl &#39;polls:vote&#39; question.id %}&#34;</span> method=<span style="color:#a31515">&#34;post&#34;</span>&gt;
{% csrf_token %}
{% <span style="color:#00f">for</span> choice <span style="color:#00f">in</span> question.choice_set.all %}
    &lt;input type=<span style="color:#a31515">&#34;radio&#34;</span> name=<span style="color:#a31515">&#34;choice&#34;</span> id=<span style="color:#a31515">&#34;choice{{ forloop.counter }}&#34;</span> value=<span style="color:#a31515">&#34;{{ choice.id }}&#34;</span>&gt;
    &lt;label <span style="color:#00f">for</span>=<span style="color:#a31515">&#34;choice{{ forloop.counter }}&#34;</span>&gt;{{ choice.choice_text }}&lt;/label&gt;&lt;br&gt;
{% endfor %}
&lt;input type=<span style="color:#a31515">&#34;submit&#34;</span> value=<span style="color:#a31515">&#34;Vote&#34;</span>&gt;
&lt;/form&gt;
</code></pre></div><p>修改 polls/views.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.http <span style="color:#00f">import</span> HttpResponse, HttpResponseRedirect
<span style="color:#00f">from</span> django.shortcuts <span style="color:#00f">import</span> get_object_or_404, render
<span style="color:#00f">from</span> django.urls <span style="color:#00f">import</span> reverse

<span style="color:#00f">from</span> .models <span style="color:#00f">import</span> Choice, Question
<span style="color:#008000"># ...</span>
<span style="color:#00f">def</span> results(request, question_id):
    question = get_object_or_404(Question, pk=question_id)
    <span style="color:#00f">return</span> render(request, <span style="color:#a31515">&#39;polls/results.html&#39;</span>, {<span style="color:#a31515">&#39;question&#39;</span>: question})
  
<span style="color:#00f">def</span> vote(request, question_id):
    question = get_object_or_404(Question, pk=question_id)
    <span style="color:#00f">try</span>:
        selected_choice = question.choice_set.get(pk=request.POST[<span style="color:#a31515">&#39;choice&#39;</span>])
    <span style="color:#00f">except</span> (KeyError, Choice.DoesNotExist):
        <span style="color:#008000"># Redisplay the question voting form.</span>
        <span style="color:#00f">return</span> render(request, <span style="color:#a31515">&#39;polls/detail.html&#39;</span>, {
            <span style="color:#a31515">&#39;question&#39;</span>: question,
            <span style="color:#a31515">&#39;error_message&#39;</span>: <span style="color:#a31515">&#34;You didn&#39;t select a choice.&#34;</span>,
        })
    <span style="color:#00f">else</span>:
        selected_choice.votes += 1
        selected_choice.save()
        <span style="color:#008000"># Always return an HttpResponseRedirect after successfully dealing</span>
        <span style="color:#008000"># with POST data. This prevents data from being posted twice if a</span>
        <span style="color:#008000"># user hits the Back button.</span>
        <span style="color:#00f">return</span> HttpResponseRedirect(reverse(<span style="color:#a31515">&#39;polls:results&#39;</span>, args=(question.id,)))
</code></pre></div><p>新增 polls/templates/polls/results.html</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;h1&gt;{{ question.question_text }}&lt;/h1&gt;

&lt;ul&gt;
{% for choice in question.choice_set.all %}
    &lt;li&gt;{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;

&lt;a href=<span style="color:#a31515">&#34;{% url &#39;polls:detail&#39; question.id %}&#34;</span>&gt;Vote again?&lt;/a&gt;
</code></pre></div><hr>
<h2 id="改用-generic-views">改用 generic views</h2>
<p>修改 polls/urls.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.urls <span style="color:#00f">import</span> path

<span style="color:#00f">from</span> . <span style="color:#00f">import</span> views

app_name = <span style="color:#a31515">&#39;polls&#39;</span>
urlpatterns = [
    path(<span style="color:#a31515">&#39;&#39;</span>, views.IndexView.as_view(), name=<span style="color:#a31515">&#39;index&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:pk&gt;/&#39;</span>, views.DetailView.as_view(), name=<span style="color:#a31515">&#39;detail&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:pk&gt;/results/&#39;</span>, views.ResultsView.as_view(), name=<span style="color:#a31515">&#39;results&#39;</span>),
    path(<span style="color:#a31515">&#39;&lt;int:question_id&gt;/vote/&#39;</span>, views.vote, name=<span style="color:#a31515">&#39;vote&#39;</span>),
]
</code></pre></div><p>修改 polls/views.py</p>
<div class="highlight"><pre style="background-color:#fff;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-python" data-lang="python"><span style="color:#00f">from</span> django.http <span style="color:#00f">import</span> HttpResponseRedirect
<span style="color:#00f">from</span> django.shortcuts <span style="color:#00f">import</span> get_object_or_404, render
<span style="color:#00f">from</span> django.urls <span style="color:#00f">import</span> reverse
<span style="color:#00f">from</span> django.views <span style="color:#00f">import</span> generic

<span style="color:#00f">from</span> .models <span style="color:#00f">import</span> Choice, Question


<span style="color:#00f">class</span> <span style="color:#2b91af">IndexView</span>(generic.ListView):
    template_name = <span style="color:#a31515">&#39;polls/index.html&#39;</span>
    context_object_name = <span style="color:#a31515">&#39;latest_question_list&#39;</span>

    <span style="color:#00f">def</span> get_queryset(self):
        <span style="color:#a31515">&#34;&#34;&#34;Return the last five published questions.&#34;&#34;&#34;</span>
        <span style="color:#00f">return</span> Question.objects.order_by(<span style="color:#a31515">&#39;-pub_date&#39;</span>)[:5]


<span style="color:#00f">class</span> <span style="color:#2b91af">DetailView</span>(generic.DetailView):
    model = Question
    template_name = <span style="color:#a31515">&#39;polls/detail.html&#39;</span>


<span style="color:#00f">class</span> <span style="color:#2b91af">ResultsView</span>(generic.DetailView):
    model = Question
    template_name = <span style="color:#a31515">&#39;polls/results.html&#39;</span>


<span style="color:#00f">def</span> vote(request, question_id):
    ... <span style="color:#008000"># same as above, no changes needed.</span>
</code></pre></div>

                

                <hr>
                <ul class="pager">
                    
                    <li class="previous">
                        <a href="/2021/1/25/DjangoModels" data-toggle="tooltip" data-placement="top" title="Django Models - 網頁與資料庫連結">&larr;
                            Previous Post</a>
                    </li>
                    
                    
                </ul>

                

<script src="https://utteranc.es/client.js"
        repo="AraKiLiu/AraKiLiu.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>


            </div>
            
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                sidebar-container">

                
                
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        
                        
                        
                        <a href="/tags/django" title="django">
                            django
                        </a>
                        
                        
                        
                        <a href="/tags/flask" title="flask">
                            flask
                        </a>
                        
                        
                        
                        <a href="/tags/iot" title="iot">
                            iot
                        </a>
                        
                        
                        
                        <a href="/tags/life" title="life">
                            life
                        </a>
                        
                        
                        
                        <a href="/tags/python" title="python">
                            python
                        </a>
                        
                        
                    </div>
                </section>
                

                
                
            </div>
        </div>
    </div>
</article>




<footer>
    <div class="container">
        <div class="row">
                <ul class="list-inline text-center">
                   
                    
                    <li>
                        <a href="mailto:hamster518@gmail.com">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
		    
                    
                    
                    
                    

                    

		    
                    
                    
                    <li>
                        <a target="_blank" href="https://github.com/AraKiLiu">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
		    
                    
                    
                    
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/ArakiLiu">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
		    
                    
                    
                    
                    
                    
            
            
            
                </ul>
		<p class="copyright text-muted">
                    Copyright &copy; 工程師的呢喃 2021
                </p>
        </div>
    </div>
</footer>




<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>






<script>
    
    if($('#tag_cloud').length !== 0){
        async("/js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>


<script>
    async("https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js", function(){
        var $nav = document.querySelector("nav");
        if($nav) FastClick.attach($nav);
    })
</script>






<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-184097779-1', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>



</body>
</html>
